<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Jenna Flannery</h1>
          <p>Full-stack Developer</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>
        <div>
          <h2>Bio</h2>
          <p>Hello! Welcome to my portfolio website.</p>
        </div>
        <div>
        <h2>Portfolio</h2>
          <div class="card p-3 mb-2 bg-secondary" style="width: 40rem;">
          <iframe class = "card-img-top" width="560" height="315" src="https://www.youtube.com/embed/j8vngSQYaLM?si=SCzbyGVKpMkeHJT3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <div class="card-body">
          <h3 class="card-title">Website in TypeScript</h3>
          <p class="card-text">This is a website built using React TypeScript. It represents a basic Pet Salon. It includes navigation and form validation.</p>
          <a href="https://github.com/jmflanne/PetParlorWebsite-TypeScript" class="btn btn-warning">View on Github</a>
          </div>
          </div>
          <div class="card p-3 mb-2 bg-secondary" style="width: 40rem;">
          <img src="Images/RelationalDatabaseModel.jpg" class="card-img-top" alt="relational-database-model-test" style="width:400px;height:500px;margin:auto">
          <div class="card-body">
          <h3 class="card-title">Relational Database</h3>
          <p class="card-text">This is a relational database built using Oracle SQL. It stores data related to customers, pets, employees, and basic store information.</p>
          <a href="https://github.com/jmflanne/PetParlorDatabase-SQL" class="btn btn-warning">View on Github</a>
          </div>
          </div>
          <div class="card p-3 mb-2 bg-secondary" style="width: 40rem;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DusIRzLiuKo?si=8xY3TI4lE_dS-1PI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="margin:auto"></iframe>
          <div class="card-body">
          <h3 class="card-title">Combat Video Game</h3>
          <p class="card-text">This is a combat video game built using Unreal Engine. Enemies and combat are developed using AI techniques. </p>
          <a href="#" class="btn btn-warning">View on Github</a>
          </div>
          </div>
          <div class="card p-3 mb-2 bg-secondary" style="width: 40rem;">
          <img src="Images/DivideandConquerProblem.png" class="card-img-top" alt="Divide-and-Conquer-Desc">
          <div class="card-body">
          <h3 class="card-title">Divide and Conquer</h3>
          <p class="card-text">Solves the question using a Divide and Conquer algorithm. Text file is included and can be changed for testing.</p>
          <a href="https://github.com/jmflanne/PetParlorDatabase-SQL" class="btn btn-warning">View on Github</a>
          </div>
          </div>
           <div class="card p-3 mb-2 bg-secondary" style="width: 40rem;">
          <img src="Images/GreedyAlgorithmProblem.png" class="card-img-top" alt="Greedy-Algorithm-Desc">
          <div class="card-body">
          <h3 class="card-title">Greedy Algorithm</h3>
          <p class="card-text">Solves the longest increasing subsequence problem using a greedy algorithm. Text file is included for testing.</p>
          <a href="https://github.com/jmflanne/PetParlorDatabase-SQL" class="btn btn-warning">View on Github</a>
          </div>
          </div>
          </div>
        
        <div>
          <h2>Education</h2>
          <h3 style="margin-left: 25px;">Purdue University Indianapolis</h3>
          <p style="margin-left: 25px;">graduation date: December 2024</p>
          <ul>
            <li>BS in Computer Science</li>
            <li>minor in mathematics</li>
            <li>minor in Japanese</li>
          </ul>
        </div>
        <div>
          <h2>Languages</h2>
          <ul>
            <li>React TypeScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>JavaScript/JQuery</li>
            <li>R</li>
            <li>SQL</li>
            <li>Matlab</li>
          </ul>
        </div>
        <div>
          <h2>Work Experience</h2>
          <h3 style="margin-left: 25px;">Apple Store - Technical Specialist</h3>
          <p style="margin-left: 25px;">Indianapolis, IN</p>
          <p style="margin-left: 25px;">Sepetember 2023 - present</p>
          <h4 style="margin-left: 25px;">Responsibilities:</h4>
          <ul>
            <li>run diagnostics</li>
            <li>learn and understand products</li>
            <li>use technical problem solving to create solution</li>
            <li>communicate technical ideas to customers and coworkers</li>
          </ul>
        </div>
        </div>

      </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
